h1{
    color: #ffffff;
    font-size:2vw;
}

h2{
    font-size:1.5vw;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: spa;
    align-items: center;
    background: linear-gradient(to right, #3f7dd4fd, #3e8effe0); 
    width: 70vw;
    margin: auto;
    text-align: center;
}

.container-input{
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    margin: auto;
    border-radius: 0.3rem;
    width: 30vw;
}

.container-mensagens{
    margin-top: 20px;
    border-radius: 0.3rem;
    margin: 1vw;
    padding: 1vw 2vw 1vw 0vw;
    width: 60vw;
    background-color: #ffffff;
    color: #3a7bd5fd;
    text-align: center;
    font-size: 1vw;
}

.btn-salvar{
    background-color: #3e8effe0;
    border-radius: 0.3rem;
    cursor: pointer;
    color: #ffffff;
    font-weight: bolder;
    padding: 9px;
    font-size: 1vw;
    width: 5vw;
    height: 3vw;
}

.btn-apagar{
    background-color: #3e8effe0;
    border-radius: 0.3rem;
    cursor: pointer;
    color: #ffffff;
    font-weight: bolder;
    font-size: 0.8vw;
    width: 4vw;
    height: 2vw;
}

.input-mensagem{
    width: 20vw;
    height: 2vw;
    outline: none;
    border: 2px solid #3e8effe0;
    font-size: 1vw;
}

table{
    margin: 1vw;
    padding: 1vw;
    width: 100%;
    word-break: break-all;
}

td {
    border-bottom: 1px solid #ddd;
    height: 3vw;
}

.dataP{
    width:9%;
}

.dataG{
    width:24%;
}

.mensagem{
    width:54%;
}

